body {
    font-family: Montserrat;
  }
  
  
  
  .card {
    width: 170px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-image {
    height: 130px;
    overflow: hidden;
  }
  
  .card-image img {
    margin-left: 15px;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-button {
    background-color: lightgreen;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .card-button:hover {
    background-color: #3e8e41;
  }
  
  
  